<div class="common_box_5 margin_10 bread_crumb_trail">
	<ul class="bread_crumb_trail margin_0">
	{% for key, crumb in crumbs.getTrail %}
		<li class="{%if key == crumbs.count %}bread_crumb_last{% else %}bread_crumb{% endif %}">
			<a class="bread_crumb_link" href="{{ crumb.url }}">
				<img class="bread_crumb_icon" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_'~ crumb.icon ~'.png') }}" alt="{{ crumb.label }}"/>&nbsp;
				{{ crumb.label }}
			</a>
			<img class="bread_crumb_right_chevron" width="20" height="26" src="{{ asset('bundles/ccdncomponentcrumbtrail/images/layout/right_chevron.png') }}" alt="chevron" />&nbsp;
		</li>
	{% else %}

	{% endfor %}
		<li class="crumb_tools"><a href="#top"><img class="bread_crumb_icon" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_top.png') }}" alt="top" /></a></li>
	</ul>
</div>